body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: none;
}


#mainVideo{
    position: fixed; 
    display: none;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    background-size: cover;
  }



